<a href="https://colab.research.google.com/github/2303A51692/B24_PDS/blob/main/Lab_05_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Esha'],
    'city': ['Hyderabad', 'Mumbai', 'Delhi', 'Hyderabad', 'Mumbai']
})
transactions = pd.DataFrame({
    'transaction_id': [1, 2, 3, 4, 5, 6, 7],
    'customer_id': [101, 102, 101, 103, 104, 105, 102],
    'amount': [2500, 1500, 3000, 4000, 1200, 1800, 2200]
})

In [4]:
merged = pd.merge(customers, transactions, on='customer_id', how='inner')

In [5]:
print("Merged Dataset:\n", merged, "\n")

Merged Dataset:
    customer_id     name       city  transaction_id  amount
0          101    Alice  Hyderabad               1    2500
1          101    Alice  Hyderabad               3    3000
2          102      Bob     Mumbai               2    1500
3          102      Bob     Mumbai               7    2200
4          103  Charlie      Delhi               4    4000
5          104    Diana  Hyderabad               5    1200
6          105     Esha     Mumbai               6    1800

In [6]:
customer_spend = merged.groupby(['customer_id', 'name', 'city'])['amount'].sum().reset_index()
customer_spend.rename(columns={'amount': 'total_spend'}, inplace=True)
print("Total Spend per Customer:\n", customer_spend, "\n")

Total Spend per Customer:
    customer_id     name       city  total_spend
0          101    Alice  Hyderabad         5500
1          102      Bob     Mumbai         3700
2          103  Charlie      Delhi         4000
3          104    Diana  Hyderabad         1200
4          105     Esha     Mumbai         1800

In [7]:
city_spend = customer_spend.groupby('city')['total_spend'].sum().reset_index()
print("City-wise Spending:\n", city_spend, "\n")

City-wise Spending:
         city  total_spend
0      Delhi         4000
1  Hyderabad         6700
2     Mumbai         5500

In [8]:
top_spender = customer_spend.loc[customer_spend['total_spend'].idxmax()]
print("Top Spender:\n", top_spender, "\n")

Top Spender:
 customer_id          101
name               Alice
city           Hyderabad
total_spend         5500
Name: 0, dtype: object

In [9]:
print("Insights:")
print(f"- Highest spender: {top_spender['name']} from {top_spender['city']} with ₹{top_spender['total_spend']}")
print(f"- City with highest spend: {city_spend.loc[city_spend['total_spend'].idxmax()]['city']}")

Insights:
- Highest spender: Alice from Hyderabad with ₹5500
- City with highest spend: Hyderabad