<a href="https://colab.research.google.com/github/2303A51692/B24_PDS/blob/main/Lab_02_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Order ID': [101, 102, 103, 104, 105],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor','CPU'],
    'Quantity': [1, 5, 3, 2, 1],
    'Price': [75000, 500, 1500, 12000,20000]
}

df = pd.DataFrame(data)
print(df)

   Order ID   Product  Quantity  Price
0       101    Laptop         1  75000
1       102     Mouse         5    500
2       103  Keyboard         3   1500
3       104   Monitor         2  12000
4       105       CPU         1  20000

In [3]:
total_sales_per_order = df['Quantity'] * df['Price']
df['Total Sales per order'] = total_sales_per_order
print(df)

   Order ID   Product  Quantity  Price  Total Sales per order
0       101    Laptop         1  75000                  75000
1       102     Mouse         5    500                   2500
2       103  Keyboard         3   1500                   4500
3       104   Monitor         2  12000                  24000
4       105       CPU         1  20000                  20000

In [4]:
high_value_orders = df[df['Total Sales per order'] > 1000]
print(high_value_orders)

   Order ID   Product  Quantity  Price  Total Sales per order
0       101    Laptop         1  75000                  75000
1       102     Mouse         5    500                   2500
2       103  Keyboard         3   1500                   4500
3       104   Monitor         2  12000                  24000
4       105       CPU         1  20000                  20000

In [5]:
most_sold = df.groupby('Product')['Quantity'].sum().idxmax()
print(most_sold)

Mouse

In [6]:
df['discount']=df['Total Sales per order']*0.2
print(df)

   Order ID   Product  Quantity  Price  Total Sales per order  discount
0       101    Laptop         1  75000                  75000   15000.0
1       102     Mouse         5    500                   2500     500.0
2       103  Keyboard         3   1500                   4500     900.0
3       104   Monitor         2  12000                  24000    4800.0
4       105       CPU         1  20000                  20000    4000.0