<a href="https://colab.research.google.com/github/2303A51692/B24_PDS/blob/main/Lab_02_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
temp=np.array([29,23,28,38,45,42,35,32,30,29,26,21])
print("monthly temperatures are: ",temp)

monthly temperatures are:  [29 23 28 38 45 42 35 32 30 29 26 21]

In [3]:
average_temp=np.mean(temp)
print("average temperature is: ",average_temp)

average temperature is:  31.5

In [4]:
hottest_month = np.argmax(temp) + 1
coldest_month = np.argmin(temp) + 1
print("hottest month is: ",hottest_month)
print("coldest month is: ",coldest_month)

hottest month is:  5
coldest month is:  12

In [5]:
normalized_temps = (temp - np.min(temp)) / (np.max(temp) - np.min(temp))
print("normalised temparature are:",normalized_temps)

normalised temparature are: [0.33333333 0.08333333 0.29166667 0.70833333 1.         0.875
 0.58333333 0.45833333 0.375      0.33333333 0.20833333 0.        ]

In [6]:
months_above_average =(temp > average_temp)
print("number of months above average temperature is: ",months_above_average)

number of months above average temperature is:  [False False False  True  True  True  True  True False False False False]

In [7]:
monthly_temps_f = temp * 9/5 + 32
print(monthly_temps_f)

[ 84.2  73.4  82.4 100.4 113.  107.6  95.   89.6  86.   84.2  78.8  69.8]