<a href="https://colab.research.google.com/github/2303A51692/B24_PDS/blob/main/Lab_05_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
patients = pd.DataFrame({
    'patient_id': [1,2,3,4,5,6],
    'name': ['Rahul','Sneha','Vikram','Meera','Amit','Kavya'],
    'age': [34,28,45,50,38,22],
    'gender': ['M','F','M','F','M','F']
})
appointments = pd.DataFrame({
    'appointment_id': [11,12,13,14,15,16,17,18],
    'patient_id':     [1,2,1,3,4,2,1,3],
    'doctor':         ['Dr.A','Dr.B','Dr.A','Dr.C','Dr.B','Dr.A','Dr.C','Dr.A'],
    'date': pd.to_datetime([
        '2025-08-01','2025-08-03','2025-08-10','2025-08-15',
        '2025-08-20','2025-08-22','2025-09-01','2025-09-05'
    ])
})

In [4]:
merged = patients.merge(appointments, on='patient_id', how='left')

In [6]:
patient_visits = (
    merged.groupby(['patient_id','name','age','gender'], as_index=False)
          .appointment_id.count()
          .rename(columns={'appointment_id':'visit_count'})
)

In [7]:
doctor_workload = (appointments['doctor']
                   .value_counts()
                   .rename_axis('doctor')
                   .reset_index(name='total_appointments'))

In [8]:
max_visits = patient_visits['visit_count'].max()
top_patients = patient_visits[patient_visits['visit_count'] == max_visits]

In [9]:
print("\nMerged dataset (sample):")
print(merged.head().to_string(index=False))

Merged dataset (sample):
 patient_id  name  age gender  appointment_id doctor       date
          1 Rahul   34      M            11.0   Dr.A 2025-08-01
          1 Rahul   34      M            13.0   Dr.A 2025-08-10
          1 Rahul   34      M            17.0   Dr.C 2025-09-01
          2 Sneha   28      F            12.0   Dr.B 2025-08-03
          2 Sneha   28      F            16.0   Dr.A 2025-08-22

In [10]:
print("\nAppointments per patient:")
print(patient_visits.to_string(index=False))

Appointments per patient:
 patient_id   name  age gender  visit_count
          1  Rahul   34      M            3
          2  Sneha   28      F            2
          3 Vikram   45      M            2
          4  Meera   50      F            1
          5   Amit   38      M            0
          6  Kavya   22      F            0

In [11]:
print("\nDoctor workload:")
print(doctor_workload.to_string(index=False))

Doctor workload:
doctor  total_appointments
  Dr.A                   4
  Dr.B                   2
  Dr.C                   2

In [12]:
print("\nTop patient(s):")
print(top_patients.to_string(index=False))

Top patient(s):
 patient_id  name  age gender  visit_count
          1 Rahul   34      M            3