<a href="https://colab.research.google.com/github/2303A51692/B24_PDS/blob/main/Lab_06(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = {
 'Customer_ID': range(1, 11),
 'Income': [25000, 48000, 52000, 31000, 60000, 75000, 120000, 45000, 39000, 90000]
 }
df = pd.DataFrame(data)
print("Original Dataset:\n", df)

Original Dataset:
    Customer_ID  Income
0            1   25000
1            2   48000
2            3   52000
3            4   31000
4            5   60000
5            6   75000
6            7  120000
7            8   45000
8            9   39000
9           10   90000

In [4]:
df['Income_MinMax'] = (df['Income'] - df['Income'].min()) / (df['Income'].max() - df['Income'].min())
print("\nMin-Max Normalized Income:\n", df[['Customer_ID', 'Income_MinMax']])

Min-Max Normalized Income:
    Customer_ID  Income_MinMax
0            1       0.000000
1            2       0.242105
2            3       0.284211
3            4       0.063158
4            5       0.368421
5            6       0.526316
6            7       1.000000
7            8       0.210526
8            9       0.147368
9           10       0.684211

In [6]:
df['Income_Zscore'] = (df['Income'] - df['Income'].mean()) / df['Income'].std()
print("\nZ-score Standardized Income:\n", df[['Customer_ID', 'Income_Zscore']])

Z-score Standardized Income:
    Customer_ID  Income_Zscore
0            1      -1.149604
1            2      -0.360324
2            3      -0.223058
3            4      -0.943705
4            5       0.051475
5            6       0.566223
6            7       2.110467
7            8      -0.463273
8            9      -0.669173
9           10       1.080971